name: Build, Push and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ysau24/holamundo-csharp:latest 

      - name: Deploy to Render
        run: |
          curl -X POST "https://api.render.com/deploy/srv-d2cjqih5pdvs73do3ml0" \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" 
